@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Oxygen&display=swap');*
{
	margin: 0;
	padding: 0;
}
body
{
	line-height: 1.5;
	font-size: 10px;
	font-family: 'Oxygen',sans-serif;
}
#showcase
{
	width: 100vw;
	height: 100vh;
	background-image: url('https://images.pexels.com/photos/3184431/pexels-photo-3184431.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font-size:	2rem; 
	color: rgba(77, 255, 77, 0.75);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

}
#showcase h1
{
	margin-bottom: 1rem;
}

#showcase button
{
	font-size: 1.5rem;
	background-color: rgba(77, 255, 77,0.75);
	border-radius: 5rem;
	border: none;
	color: transparent;
	transition: border 1s ease-in-out;
	padding: 1rem;
}
#showcase a
{
	padding: 1rem;
	color: white;
	text-decoration: none;
}
#showcase button:hover
{
	color: white;
	animation: load 2s infinite linear;
	border: 4px solid transparent;
}
@keyframes load
{
	0%
	{
		border-color: transparant;
		border-left-color: #ff5c33;
	}
	25%
	{	
		border-color: transparent;
		border-top-color: #ff5c33;
	}
	50%
	{
		border-color: transparent;
		border-right-color: #ff5c33;
	}
	75%
	{
		border-color: transparent;
		border-bottom-color: #ff5c33;
	}
	100%
	{
		border-color: transparent;
		border-left-color: ##ff5c33;
	}
}

@media screen and (max-width: 600px)
{
	body
	{
		font-family: "Libre Franklin", sans-serif;
	}
	#more_info
	{
		flex-direction: column;
	}
	#more_info div
	{
		width: 100%;
	}
}

