{% extends 'students/base.html'%}
{%block content%}
	<head>
		<link rel="stylesheet" type="text/css" href="profilepage.css">
		<title>My Profile</title>
	</head>

	<body>
		<article class="profile">
			<div class="page-wrapper">
				<aside>
					<h1>{{student.name}}</h1>
					<p class="flourish">~</p>
					<p class="bio">
						THIS TEXT NEEDS TO BE FILLED WITH USER'S BIO
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</aside>
				<article>

					<div class="image"><img src="http://wallpaperlayer.com/img/2015/7/actor-wallpaper-4072-4293-hd-wallpapers.jpg" /></div>

					<i id="usericon"></i>
					<span id="sociouser">SocioStudent : <span id="username">{{student.username}}</span></span><br>

			        <span>I am <span id="name"> {{student.name}} </span></span><br>

			        <span id="inyear">I have completed <span id="year">{{student.year}}</span> years in college</span><br>

			        <span> I am from <a href="https://www.duckduckgo.com/?q={{student.college}}" id="college">{{student.college}}</a> </span><br>

			        <span> Interests : <span id="interests">{{student.interests}}</span></span><br>

			        {% comment %} try to split the interests and skills using commas {% endcomment %}<br>

			        <span> Skills : <span id="skills"> {{student.skills}}</span></span><br>

			        <span> I live in : <span id="city">{{student.city}}</span>  <span id="state">{{student.state}}</span></span><br>
			    {%endblock%}
	    </article>
     </body>

