{% extends 'students/base.html'%}
{%block content%}
    <h3>The students are :</h3>
    {%for student in students%}
        <hr>
        <a href="#"> Find me out</a>
        <span>Username : {{student.username}} </span><br>
        <span>Name : {{student.name}} </span><br>
        <span>Year : {{student.year}} </span><br>
        <span> My college is {{student.college}} </span><br>
        <span> My interests are {{student.interests}}</span><br>
        {% comment %} try to split the interests and skills using commas {% endcomment %}
        <span> My skills are {{student.skills}}<br>
        <span> I live in {{student.city}} , {{student.state}} </span><br>
    {%endfor%}
{%endblock%}