body
{
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}


.navbar-area
{
	position: fixed;
	height: 5rem;
}
.navbar
{
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-left
{
	justify-content: flex-start;
	margin-left: 1rem;
}
.nav-right
{
	justify-content: flex-end;
	padding-right: 1rem;
}
.navbar-area a
{
	color: yellow;
	font-size: 2.5rem;
	text-decoration: none;
	border-bottom: 2px solid lightblue;
	padding: 1rem;
	transition: color 0.75s ease-out;
}
.navbar-area a:hover
{
	color: rgb(77, 255, 77);
	border-bottom-color: rgb(77, 255, 77);
}
.nav-left>a
{
	margin-right: 1rem;
}
.nav-right>a
{
	margin-left: 1rem;
}
.navbar i
{
	padding-right: 0.8rem;
}



.replacement-area
{
	padding-top: 4rem;
	height: 90%;
}



.footer-credits {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #bfff00;
  text-align: center;
}