@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');
.profile
{
	margin: 0;
	font-family: 'Cormorant Garamond',serif;
	font-size: 18px;
}
.page-wrapper
{
	display: block;
	width: 100%;
}
@media (min-width: 700px)
{
	.page-wrapper
	{
		display: flex;
	}
}

aside
{
	background-color: #222;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0 40px;
}
@media(min-width: 700px)
{
	aside
	{
		background-color: #222;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		flex: 0 0 50%;
		padding: 0;
	}
}

h1, .flourish{
	font-size: 6vw;
	margin: 10px 0;
	font-family: 'Oxygen',sans-serif;
	text-align: center;
}
@media(min-width: 700px)
{
	h1, .flourish
	{
		font-size: 4.5vw;
		margin: 20px 0;
		padding: 0 20px;
	}
}

h1
{
	letter-spacing: 10px;
	text-transform: uppercase;
}
.flourish
{
	font-weight: bold;
}
.bio
{
	margin: 0 20px;
	text-align: center;
	line-height: 1.5;
	font-style: italic;
}
@media(min-width: 1100px)
{
	.bio
	{
		margin: 0 100px;
		text-align: center;
		line-height: 1.7;
		font-size: 1.2em;
	}
}

article
{
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.5rem;
	font-family: 'Bellota', cursive;
}
@media(min-width: 700px)
{
	article
	{
		flex: 0 0 50%;
		margin-left: 50%;
		padding-top: 30px;
		font-size: 2.5rem;
	}
}
.image img
{
	width: 100px;
	margin: 20px 0;
}

article>span
{
	line-height: 2;
}

#sociouser
{
	font-size: 2rem;
}
#username
{
	font-style: italic;
}

#name
{
	font-weight: bold;
}

#inyear
{
	font-size: 2rem;
}
#year
{
	font-size: 2em;
}

a
{
	text-decoration: none;
	animation: color 2s ease-in-out;
	color: inherit;
	font-weight: bold;
}
a:hover
{
	text-decoration: underline;
	color: lightblue;
}

#interests
{
	font-size: 2rem;
	border: 1px solid #ffff80;
	border-radius: 1rem;
	background-color: #ffffb3;
}

#skills
{
	font-size: 2rem;
	border: 1px solid #b3ffff;
	border-radius: 1rem;
	background-color: #e6ffff;
}

#city
{
	font-size: 1.5rem;
	background-color: #00e673;
	box-shadow: 0.3rem 0.3rem #33cc33;
	margin-right: 0.5rem;
}
#state
{
	font-size: 1.5rem;
	background-color: #00cc66;
	box-shadow: 0.3rem 0.3rem #2eb82e;
}